.text-box > h3:first-of-type {
    color: pink;
}

#greycol {
    color: grey;
}

.text-box >div:nth-of-type(2) {
   color: red;
}

.text-box >h3:nth-of-type(2) + p {
    color: green;
}

.yellow {
    
    color: yellow;
}


ul:nth-of-type(1) li:nth-child(even) {
    color: blue;
}

ul:nth-of-type(1) li:nth-child(odd) {
    color: rgb(0, 255, 106);
}

ul:nth-of-type(1):hover li:nth-child(even) {
    color: rgb(9, 255, 0);
}

ul:nth-of-type(1):hover li:nth-child(odd) {
    color: rgb(38, 0, 255);
}



ul:nth-of-type(2) li:nth-child(even) {
    color: rgb(238, 255, 0);
}

ul:nth-of-type(2) li:nth-child(odd) {
    color: rgb(255, 153, 0);
}

ul:nth-of-type(2):hover li:nth-child(even) {
    color: rgb(255, 153, 0);
}

ul:nth-of-type(2):hover li:nth-child(odd) {
    color: rgb(251, 255, 0);
}



ul:nth-of-type(3) li:nth-child(even) {
    color: rgb(255, 0, 234);
}

ul:nth-of-type(3) li:nth-child(odd) {
    color: rgb(230, 204, 252);
}

ul:nth-of-type(3):hover li:nth-child(even) {
    color: rgb(246, 198, 255);
}

ul:nth-of-type(3):hover li:nth-child(odd) {
    color: rgb(195, 0, 255);
}




ul:nth-of-type(4) li:nth-child(even) {
    color: rgb(0, 255, 255);
}

ul:nth-of-type(4) li:nth-child(odd) {
    color: rgb(255, 0, 0);
}

ul:nth-of-type(4):hover li:nth-child(even) {
    color: rgb(238, 7, 7);
}

ul:nth-of-type(4):hover li:nth-child(odd) {
    color: rgb(0, 183, 255);
}




ul:nth-of-type(5) li:nth-child(even) {
    color: rgb(179, 255, 0);
}

ul:nth-of-type(5) li:nth-child(odd) {
    color: rgb(89, 0, 255);
}

ul:nth-of-type(5):hover li:nth-child(even) {
    color: rgb(82, 8, 255);
}

ul:nth-of-type(5):hover li:nth-child(odd) {
    color: rgb(115, 255, 0);
}