

.container {
   
   background-color: #e65d5d;
    gap: 15px;
    width: 900px;
    height: 900px;
    border: 4px solid black;
    display: flex;
 
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 100px;
}

.child {
background-color: #aad11d;
width: 50px;
    height: 50px;
    border: 2px solid black;
   
}

.container:nth-child(1){
    justify-content: end;
}

.container:nth-child(2) {
    justify-content: space-between;
    flex-direction: column;
}

.container:nth-child(3) {
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

}

.container:nth-child(4) {
    justify-content: space-between;
    align-items: end;
}